torch
torchvision
face_recognition
opencv-python
streamlit
numpy
matplotlib
plotly
pandas
seaborn
pillow
scikit-learn
scipy
reportlab
fpdf2
streamlit-option-menu
streamlit-aggrid
streamlit-plotly-events
streamlit-cropper
streamlit-image-coordinates
streamlit-ace
streamlit-echarts
streamlit-vega-lite
streamlit-pandas-profiling
streamlit-plotly-events
streamlit-aggrid
streamlit-option-menu
streamlit-cropper
streamlit-image-coordinates
streamlit-ace
streamlit-echarts
streamlit-vega-lite
streamlit-pandas-profiling 